.top-navbar-header {
    margin-bottom: 20px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-12 {
    margin-top: 12px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-24 {
    padding-top: 24px;
}

.pt-12 {
    padding-top: 12px;
}

/* company-profile-footer for desktop css*/
.company-profile-footer {
    background-color: #014E78;
    height: 400px;
}

.top-nav-bar-header {
    border-bottom: 1px solid #DCDAE2
}

.footer-inner-section {
    padding-top: 32px;
}

.address-setion {
    width: 28%;
    align-content: center;
}

/* .address-setion-mobile {
    max-width: 390px;
} */

.company-pages-setion {
    width: 20%;
}

.fotr-logo-mobile {
    max-width: 100px !important;
    height: auto !important;
}

/* .company-pages-setion-mobile {
    min-width: 170px;
} */

.by-make-setion {
    width: 20%;
}

.mobile-addres-setion-main {
    gap: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-6 {
    margin-bottom: 6px;
}

.social-link-setion {
    width: 28%;
    display: grid;
}

.comn-fotr-head-sub {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #FFFFFF;
}

.social-address li {
    padding-block: 8px;
    gap: 14px;
}

.address-con {
    width: 22px;
    height: 22px;
    align-self: center;
}

.overview-head-ftr {
    font-family: Lato;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 700;
    line-height: 28px;
}

.make-by-li {
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #FFFFFF;
    gap: 10px;
    display: flex;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 30px;
}

#mail_to_fotr button {
    max-height: 2.375rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: var(--font-family-Lato);
    font-size: 12px;
    font-weight: 400;
    line-height: 18.92px;
    letter-spacing: -0.01em;
    background-color: var(--color-blue-50);
    color: var(--color-white-900);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.social-icons-inner {
    max-width: 32px;
    height: auto;
}

.mailing-section {
    align-content: end;
}

.copyright-section {
    border-top: 1px solid #FFFFFF;
    margin-top: 16px;
}

.copyright-para {
    padding-top: 24px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.mailin-form-input {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #5D6370;
}

.nav-link-top-text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #0C1529;
}

.nav-link-top-text:hover {
    color: #2384c1;
}

.collapse-navbar-main {
    gap: 30px;
}

.navbar-toggler:focus {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.top-hdr-log-img {
    width: 140px;
    height: auto;
}

/* bread-crums */
.bread-link-home {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #0C1529;
}

.bread-link-next {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #2384C1;
}

/* ......hdr-ftr...... */
#footer_mobile {
    background-color: var(--color-blue-200);
}

#mobile_footer_socials h4 {
    font-size: var(--font-size-14);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: var(--color-white-900) !important;
    margin-bottom: 6px;
}

.address_links_mobile_footer li {
    padding-left: 2px;
    font-family: var(--font-family-Lato);
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--color-white-900) !important;
}

.mailing-input-mobile {
    border-radius: 4px;
    height: 44px;
    font-size: var(--font-size-14s);
    font-family: var(--font-family-Lato);
}

.btn-mailing-mobile {
    font-family: var(--font-family-Lato);
    background-color: var(--color-blue-50);
    font-size: var(--font-size-14s);
    color: var(--color-white-900);
    letter-spacing: -0.01em;
    border-radius: 4px;
    line-height: 16px;
    max-width: 120px;
    /* margin-top: 11px; */
    font-weight: 700;
    height: 44px;
    width: 100%;
}

.maillist-text {
    font-family: var(--font-family-Lato);
    font-size: var(--font-size-14);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: var(--color-white-900);
    text-align: left;
    margin-bottom: 0.75rem;
}

/* .......hdr-ftr..end.... */


@media screen and (min-width: 1024px) and (max-width: 1300px) {
    .make-by-li {
        font-size: 16px;
    }

    .comn-fotr-head-sub {
        font-size: 16px;
    }

    .social-icons-inner {
        max-width: 24px;
    }

    .social-icons {
        gap: 20px;
    }

    .collapse-navbar-main {
        gap: 12px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
    .comn-fotr-head-sub {
        font-size: 16px;
    }

    .make-by-li {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .footer-inner-section {
        padding-left: 23px !important;
        padding-right: 23px !important;
    }

    .social-icons {
        display: flex;
        gap: 16px;
    }

    .copyright-para {
        font-size: 14px;
    }

    .nav-link-top-text {
        font-family: Lato;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #0C1529;
    }

    .collapse-navbar-main {
        gap: 12px;
    }

    .top-hdr-log-img {
        width: 130px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .fotr-logo {
        max-width: 100px !important;
        height: auto !important;
    }

    .overview-head-ftr {
        font-size: 14px !important;
        line-height: 26px;
    }

    .comn-fotr-head-sub {
        font-size: 12px;
    }

    .make-by-li {
        font-size: 12px;
    }

    .comn-fotr-head-sub {
        line-height: 20px;
    }

    .mb-10 {
        margin-bottom: 10px;
    }

    .navbar-toggler {
        padding: 6px 10px 6px 10px;
        padding: 6px 10px 6px 10px;
        font-size: 12px !important;
    }
}

@media screen and (max-width: 991px) {
    .nav-item-custom-cls {
        border-radius: 8px;
        cursor: pointer;
        font-family: Lato;
        font-size: 16px;
        font-weight: 600;
        background-color: #F5F6F7;
        color: #353C4D;
        padding-left: 10px;
    }

    .nav-item-custom-cls-mob {
        cursor: pointer;
        font-size: 16px;
        font-family: Lato;
        background-color: #F5F6F7;
        padding: 4px 16px 4px 18px;
        margin-bottom: 6px;
        /* box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 109px 0 rgba(0, 0, 0, 0.19); */
        display: flex;
        justify-content: space-between;
    }

    .right-nav-icon {
        color: #1c6a9b;
    }

    .nav-item-custom-cls-mob:hover {
        background-color: #2384c1;
        cursor: pointer;
        color: #FFFFFF;
    }

    .nav-item-custom-cls-mob:hover {
        background-color: #2384c1;
        cursor: pointer;
        color: #FFFFFF;
    }

    .nav-item-custom-cls-mob:hover .nav-link-top-text {
        color: white;
    }

    .nav-item-custom-cls-mob:hover .right-nav-icon {
        color: white;
    }

}

.nav-link-top-text:hover {
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
}

.collapse-navbar-main {
    gap: 6px;
}

.nav-link-top-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
}

/* .collapse-navbar-main {
    display: none !important;
} */

.top-navbar-header {
    margin-bottom: 10px;
}


@media screen and (max-width: 768px) {
    .company-profile-footer-mobile {
        background-color: #014E78;
        height: auto;
    }

    .navbar-toggler {
        padding: 4px 6px 4px 6px;
        font-size: 12px !important;
    }

    /* mobile-footer-css */
    .comn-fotr-head-sub {
        font-family: Lato;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: #FFFFFF;
    }

    .top-navbar-header {
        margin-bottom: 0;
    }

    .social-icons-inner {
        width: 25px;
    }

    .list-group-item {
        font-family: Lato;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.012em;
        text-align: left;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 664px) {
    .address-setion-mobile {
        max-width: 364px;
    }
}

@media screen and (max-width: 650px) {
    .comn-fotr-head-sub {
        font-size: 14px;
    }

    .overview-head-ftr {
        font-size: clamp(14px, 2vw, 20px);
    }

    /* .make-by-li {
        font-size: 14px;
    } */
}

@media screen and (max-width: 576px) {
    .nav-bar-main {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    /* .footer-inner-section {
        padding-left: 30px !important;
        padding-right: 20px !important;
    } */
    .footer-inner-section {
        padding-left: 23px !important;
        padding-right: 23px !important;
    }

    .top-hdr-log-img {
        width: 100px;
    }

    .comn-fotr-head-sub {
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        line-height: 26px;
        color: #FFFFFF;
    }

    .address-con {
        width: 16px;
        height: 16px;
        align-self: center;
    }

    .make-by-li {
        font-family: Lato;
        font-size: 12px;
        font-weight: 500;
        line-height: 26px;
        color: #FFFFFF;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    .overview-head-ftr {
        font-size: clamp(14px, 2vw, 20px);
    }

    .social-address li {
        gap: 10px;
    }

    .mobile-addres-setion-main {
        gap: 10px;
    }

    .padding-lft-right {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .list-group-item {
        font-family: Lato;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        color: #FFFFFF;
        gap: 10px;
        display: flex;
        align-items: center;
    }

}


/* company-profile-footer for mobile css*/
.company-profile-footer {
    background-color: #014E78;
    height: 400px;
}

@media screen and (max-width: 425px) {
    .mobile-addres-setion-main {
        display: grid !important;
    }
}

@media screen and (max-width: 450px) {
    .overview-head-ftr {
        font-size: clamp(14px, 2vw, 20px);
    }

    .fotr-logo-mobile {
        max-width: 90px !important;
        height: auto !important;
    }

    #mail_to_fotr button {
        font-size: 10px;
    }

    .mailin-form-input {
        font-size: 10px;
    }

    .mb-10 {
        margin-bottom: 10px !important;
    }

    .address-setion-mobile {
        margin-bottom: 24px;
    }

    .list-group-item {
        font-size: 12px;
    }

    .mailing-input-mobile {
        height: 35px;
        font-size: 12px;
    }

    .btn-mailing-mobile {
        font-size: 12px;
        width: max-content;
        height: 35px;
    }
}