.inquiry-hdr {
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.014em;
    text-align: left;
    color: #0C1529;
}

.form-texarea-inq {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #667085 !important;
}
.form-texarea-inq::placeholder {
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #667085 !important;
}