.top-hdr {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #0C1529;
}

.job-form-description {
    font-family: Lato;
    font-size: clamp(14px, 4vw, 20px);
    font-weight: 400;
    line-height: 28px;
    color: #5D6370;
}

.comman-sub-heading {
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #0C1529;
}

.upload-link {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #2384C1;
    cursor: pointer;
}

.form-text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #0C1529;
}

.in-put-upload-file {
    border: 1px solid #D0D5DD !important;
    width: 621px;
    height: 40px;
    border-radius: 6px 0 0 6px !important;
    border: 1px solid #D0D5DD;

    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #667085;
}

.form-text-label-upload {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #0C1529;
    margin-bottom: 8px;
}

.upload-file-btn {
    border: 1px solid #D0D5DD;
    background-color: #E6E8EC;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #344054;
}

.upload-input-field-mian {
    max-width: 400px;
}

.inquiry-sub-hdr {
    color: #0C1529;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.upload-link-or {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #0C1529;
}

.form-label-inquirys {
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #344054;
}

.comman-input-field-inq {
    height: 40px;
    border: 1px solid #d0d5dd;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #667085;
    border-radius: 4px !important;
    background-size: 16px 9px;
}

/* 
.inquiru-button {
    border: 1px solid #2384C1;
    background-color: #2384C1;
    color: white;
    height: 46px;
    font-size: 18px;
    font-family: Lato;
    font-weight: 500;
    line-height: 26px;
    margin-top: 32px;
} */

.inquiru-button {
    border: 1px solid #2384C1;
    background-color: #2384C1;
    color: white;
    height: 46px;
    font-size: 18px;
    /* font-family: Lato; */
    /* font-weight: 500; */
    line-height: 26px;
    margin-top: 32px;
    border-radius: 6px;
    padding: 16px 16px 16px 17px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .bread-crum-main {
        margin-top: 24px;
    }
}

@media screen and (max-width: 768px) {
    .top-hdr {
        font-size: 20px;
    }

    .bread-crum-main {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .inquiru-button {
        height: 36px;
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    .job-form-description {
        margin-bottom: 16px;
    }

    .top-hdr {
        margin-bottom: 16px;
    }

    .comman-sub-heading {
        margin-bottom: 16px;
    }

    .inquiru-button {
        height: 36px;
        font-size: 12px;
    }
}